<div class="py-4">
  <bible-loading-indicator-box
    [isLoading]="homePageLoading$ | async"
  >
    @if (bibleBooks$ | async; as bibleBooks){
      <div class="container main-text-background px-sm-3 px-md-4 px-lg-5 py-sm-1 py-md-3">
        <div class="h2 fw-bold py-3 text-title-colour">Cartea:</div>
        @for (bibleBook of bibleBooks; track bibleBook.bookId) {
          <button class="btn me-2 mb-2"
                  [ngClass]="selectedBook?.bookName === bibleBook.name ? 'btn-dark' : 'btn-outline-dark'"
                  (click)="selectBook(bibleBook)"
          >{{ bibleBook.abbreviation }}
          </button>
        }
        <br/>
        @if (selectedBook?.chapterNumbers) {
          <div id="section_chapter" class="h2 fw-bold py-3 text-title-colour">Capitolul:</div>
          @for (chapterNumber of selectedBook?.chapterNumbers; track chapterNumber) {
            <button class="btn me-2 mb-2"
                    [ngClass]="chapterNumber === selectedBook?.chapterNumber ? 'btn-dark' : 'btn-outline-dark'"
                    (click)="loadChapter(chapterNumber)"
            >{{ chapterNumber }}
            </button>
          }
        }

        @if (bibleVerse$ | async; as bibleVerses) {
          <div
            class="fw-bold fs-2 py-2 text-center text-title-colour">{{ selectedBook?.bookName }} {{ selectedBook?.chapterNumber }}
          </div>
          @for (bibleVerse of bibleVerses; track bibleVerse.verseNumber) {
            <div class="fw-bold fs-5 py-1"
            >{{ bibleVerse.verseNumber }}. {{ bibleVerse.textWithDiacritics }}
            </div>
          }
        }
      </div>
    }
  </bible-loading-indicator-box>
</div>


