<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a [routerLink]="''" class="navbar-brand fw-bold fs-3"><img ngSrc="/assets/images/navbar/bible-emojy.png" alt="love" height="50" width="50"> Biblia Cu Nume Sfinte </a>
    <a [routerLink]="''" class="navbar-brand fw-bold fs-3"><i class="bi bi-house-door-fill"></i></a>
    <form [formGroup]="searchForm" class="d-flex">
      <input formControlName="searchBox"
             class="form-control me-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
      >
      <button class="btn btn-outline-success" (click)="search()">Search</button>
    </form>
  </div>
</nav>
