<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a [routerLink]="''" class="navbar-brand fw-bold d-flex align-items-center"><img alt="love"
                                                                                     height="50"
                                                                                     ngSrc="/assets/images/navbar/bible-emojy.png"
                                                                                     width="50"/>
      <span class="fs-6">Biblia Cu Nume Sfinte</span>
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="fs-5 navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 fw-bold">
        <li class="nav-item dropdown">
          <button aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                  id="navbarDropdown"
                  role="button">
            Meniu
          </button>
          <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
            <li>
              <a [routerLink]="'/settings'" class="dropdown-item">
                <i class="bi bi-gear-fill"></i> <span> Setari</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="''" aria-current="page" class="nav-link">
            <i class="bi bi-house-door-fill"></i>
            <span class="ms-2">Acasa</span>
          </a>
        </li>
      </ul>

      <form [formGroup]="searchForm" class="d-flex">
        <input aria-label="Cautare"
               class="form-control me-2"
               formControlName="searchBox"
               placeholder="cauta verset..."
               type="Search"
        >
        <button (click)="search()" class="btn btn-outline-success">Cautare</button>
      </form>
    </div>
  </div>
</nav>
