<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a [routerLink]="''" class="navbar-brand fw-bold fs-3"><img alt="love" height="50"
                                                                ngSrc="/assets/images/navbar/bible-emojy.png"
                                                                width="50"> Biblia Cu Nume Sfinte </a>
    <a [routerLink]="''" class="navbar-brand fw-bold fs-3"><i class="bi bi-house-door-fill"></i></a>
    <form [formGroup]="searchForm" class="d-flex">
      <input aria-label="Cautare"
             class="form-control me-2"
             formControlName="searchBox"
             placeholder="cauta verset..."
             type="Search"
      >
      <button (click)="search()" class="btn btn-outline-success">Cautare</button>
    </form>
  </div>
</nav>
