<ng-container *ngIf="errorTextMessage !== null && !isLoading">
  <div class="h5 mt-3" *ngIf="!displayOnErrorComponent">
    {{ overrideErrorMessage ? overrideErrorMessage : errorTextMessage }}
  </div>
  <div class="h5 mt-3" *ngIf="displayOnErrorComponent">
    <div class="h1">Server Error</div>
  </div>
</ng-container>

<ng-container *ngIf="errorTextMessage === null && !isLoading">
  <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="isLoading">
  <bible-infinite-loading></bible-infinite-loading>
<!--  <div class="loading-box-alignment">-->
<!--    <div class="d-flex my-4 justify-content-center">-->
<!--      <div class="spinner-grow text-primary me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--      <div class="spinner-grow text-secondary me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--      <div class="spinner-grow text-success me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--      <div class="spinner-grow text-warning me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--      <div class="spinner-grow text-info me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--      <div class="spinner-grow text-dark me-2" role="status">-->
<!--        <span class="visually-hidden">Loading...</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</ng-container>
