<ng-container *ngIf="errorTextMessage !== null && !isLoading">
  <div class="h5 mt-3" *ngIf="!displayOnErrorComponent">
    {{ overrideErrorMessage ? overrideErrorMessage : errorTextMessage }}
  </div>
  <div class="h5 mt-3" *ngIf="displayOnErrorComponent">
    <div class="h1">Server Error</div>
  </div>
</ng-container>

<ng-container *ngIf="errorTextMessage === null && !isLoading">
  <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="isLoading">
  <bible-infinite-loading></bible-infinite-loading>
</ng-container>
