/* You can add global styles to this file, and also import other style files */
html, body {
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/background/bible-background-1.jpg");
  background-size: contain;
}

#bible-root {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}
