@import 'app-styles/global_variables';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/background/pattern17.jpg");
  background-repeat: repeat-y;
  background-position: top;
  background-size: 100%;
}

#bible-root {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.main-text-background {
  background-color: $app-boxes-main-bg-colour;
  color: $app-boxes-main-text-colour;
}

.text-mark-highlight-colour {
  color: $app-text-selections-main-colour;
}

.text-title-colour {
  color: $app-header-sections-main-colour;
}
