<div class="py-4">
    <bible-loading-indicator-box
      [isLoading]="searchPageLoading$ | async">
      @if (bibleVerses$ | async; as bibleVerses) {
        <div class="container main-text-background px-sm-3 px-md-4 px-lg-5 py-2 py-sm-2 py-md-3 py-lg-4">
        @if (bibleVerses.length > 0) {
          <div class="fw-bold h3 mb-3 text-title-colour">Rezultate Cautare:</div>
          <div class="fw-bold h4">
            <div class="row g-3">
              <div class="col-12 col-lg-6" *ngFor="let bibleVerse of bibleVerses">
                <div class="verse-box h-100 d-flex flex-wrap align-content-between">
                  <div>
                    @for (word of bibleVerse.text.split(' '); track word+Math.random()) {
                      <span [ngClass]="shouldColoredTheText(word) ? 'text-mark-highlight-colour' : ''">
                    {{ word }}
                    </span>
                    }
                  </div>
                  <div class="mt-2 w-100">
                    <div class="row g-2">
                      <div class="col-12 col-md-7">
                        <a class="btn btn-outline-dark"
                           [routerLink]="['/display-chapter']"
                           [queryParams]="{
                     bookName: bibleVerse.chapter.book.name,
                     bookId: bibleVerse.chapter.book.bookId,
                     chapterNumber: bibleVerse.chapter.number,
                     verseNumber: bibleVerse.verseNumber,
                     }">
                          {{ bibleVerse.chapter.book.name }} {{ bibleVerse.chapter.number }}:{{ bibleVerse.verseNumber }}
                        </a>
                      </div>
                      <div class="col-12 col-md-5">
                        <button class="btn btn-outline-dark" (click)="copyTextToClipboard(bibleVerse)">
                          Copiaza textul
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        } @else {
          <div class="fw-bold h3 text-title-colour">No Results</div>
        }
        </div>
      }
    </bible-loading-indicator-box>
</div>
